<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a href="../../index2.html"><b>Employee</b>Management</a>
    </div>

    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <!-- inisiasi form login -->
        <form
          [formGroup]="formLogin"
          class="md-float-material form-material"
          action="javascript:"
        >
          <!-- input validasi username -->
          <div class="input-group mb-2">
            <input
              type="text"
              name="username"
              formControlName="username"
              class="form-control"
              placeholder="Username"
              [class.is-invalid]="
                formLogin.get('username')?.invalid &&
                formLogin.get('username')?.touched
              "
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div
            *ngIf="(userName?.invalid && userName?.touched) || userName?.dirty"
          >
            <small *ngIf="userName?.errors?.['required']" class="text-danger"
              >Username is required !</small
            >
            <!--question mark(?) is a safe navigation operator-->
            <small *ngIf="userName?.hasError('minlength')" class="text-danger"
              >Min minLength 5 !</small
            >
          </div>
           <!-- input validasi password -->
          <div class="input-group mb-3">
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              formControlName="password"
              name="password"
              [class.is-invalid]="
                formLogin.get('password')?.invalid &&
                formLogin.get('password')?.touched
              "
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div
            *ngIf="(passWord?.invalid && passWord?.touched) || passWord?.dirty"
          >
            <small *ngIf="passWord?.errors?.['required']" class="text-danger"
              >Password is required !</small
            >
            <!--question mark(?) is a safe navigation operator-->
            <small *ngIf="passWord?.hasError('minlength')" class="text-danger"
              >Min minLength 5 !</small
            >
          </div>
          <div class="row">
            <div class="col-12">
              <button
                type="submit"
                class="btn btn-primary btn-block"
                [disabled]="!formLogin.valid"
                (click)="onSubmit()"
              >
                Sign In
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
